<div class='contact-list'>
  <div class="Grid">
    <h1 class="title">Contact List</h1>
    <a class="addIcon" ng-click="addContact=!addContact">
      <i class="fa fa-plus " aria-hidden="true"></i>
    </a>
  </div>
  <div ng-show="addContact">
    <input type='text' ng-model="newContact.name" placeholder="Insert a name">
    <input type='text' ng-model="newContact.email" placeholder="Insert a email">
    <input type='text' ng-model="newContact.job" placeholder="Insert a job">
    <input type='text' ng-model="newContact.location" placeholder="Insert a location">
    <input type='text' ng-model="newContact.tag" placeholder="Insert a tag">
    <button ng-click="contactListCtrl.addContact(newContact, contactListCtrl.contactList)">Confirm</button>
  </div>
  <div ng-show="!addContact">
    <div class="bar">
      <div class="Grid-picture">Picture </div>
      <div class="Grid-title">Name </div>
      <div class="Grid-title">Status </div>
      <div class="Grid-title">Details</div>
    </div>
    <div class="divider"></div>
    <div ng-repeat="contact in contactListCtrl.contactList track by $index">
      <div class="Grid" flex>
        <div class="Grid-img">
          <img ng-src="{{contact.avatar}}" />
        </div>
        <div class="Grid-text">
          <div >{{ contact.name }}</div>
        </div>
        <div class="Grid-text">
          <div >{{ contact.email }}</div>
        </div>
        <a class="Grid-text" ng-click="contactListCtrl.showContactDetail(contact)" >
          <i class="fa fa-address-card fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
